@tailwind base;
@tailwind components;

html {
    scroll-behavior: smooth;

}
@media only screen and (max-width: 767px){
    html {
        font-size: 85%;
    }
}

@tailwind utilities;

/* Card border style */

.dash-border {
    @apply border-4 border-gray-300 border-dashed rounded-lg;
}

/* BUTTONS */
.btn {
    @apply py-3 text-lg font-bold leading-none tracking-wide text-center text-white border rounded focus:outline-none focus:ring-2;
}

.btn-secondary {
    @apply border-secondary-600 bg-secondary-500 hover:border-transparent hover:bg-secondary-600 focus:ring-secondary-300;
}

.btn-primary {
    @apply bg-primary-500 border-primary-600 hover:border-transparent hover:bg-primary-600 focus:ring-primary-300;
}

.btn-switch {
    @apply bg-secondary-500 hover:bg-primary-500 focus:bg-primary-600 focus:ring-primary-300;
}

.btn-small {
    @apply px-2 py-1 text-sm text-white rounded-md focus:ring-2;
}

.paginate-btn {
    @apply w-8 h-8 text-xl font-bold border-2 rounded-full border-primary-500 text-primary-500 focus:text-white focus:border-white focus:bg-primary-500;
}

/* FORMS */
.form-input {
    @apply w-full px-4 py-3 mb-3 bg-white border border-gray-400 rounded-md focus:outline-none focus:ring-1;
}

/* TYPOGRAPHY */

.title {
    @apply py-4 text-6xl tracking-wide text-center font-title;
}


/* FLASH COLORS TO MATCH ICON NAMES */
.comment {
    @apply bg-blue-500;
}
.dog {
    @apply bg-green-500;
}
.thumbs-up {
    @apply bg-blue-500;
}
.heart {
    @apply bg-primary-600;
}
.check-circle {
    @apply bg-green-500;
}
.exclamation {
    @apply bg-primary-600;
}

/* FLASH ANIMATIONS */

.animate-flash {
    animation: animate-flash 2.5s ease-out forwards;
}

.bg-fade {
    animation-name: bg-fade;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}
.bg-no-fade {
    background-color: rgba(255,255,255,0.7);
}

.fade-in {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

@keyframes animate-flash {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes bg-fade {
    0% {
        background-color: rgba(255,255,255,0.1);
    }
    50% {
        background-color: rgba(255,255,255,.2);
    }
    100% {
        background-color: rgba(255,255,255,0.7);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}