<!-- Dog Card Component - displayed on main gallery and on user profiles -->
<!-- Start as invisible if animated == 'on' (only used for main gallery page) -->
<div class="w-96 max-w-sm mx-auto transition-opacity duration-1000 bg-white border-4 dash-border  {{'opacity-0' if animate == 'on'}}">
    <div class="flex">
        <div class="grid flex-1 place-items-center">
            <a href="{{url_for('dogs.dog_page', dog_id=dog.pk)}}" aria-label="{{dog.name}}'s profile page"><img src="{{dog.img_url_card}}" alt="A picture of my dog {{dog.name}}" class="object-cover w-full h-32 p-1 rounded-lg" loading="lazy"></a>
        </div>
        <div class="flex flex-col flex-1 px-1 text-gray-600 justify-evenly">
            <p>Name: <span class="font-semibold">{{dog.name}}</span></p>
            <p>Breed: <span class="font-semibold">{{dog.breed.breed_name}}</span></p>
            <!-- Display dog's owner unless it is current user, if so display edit and delete buttons -->
            {% if dog.owner == current_user or current_user.username == 'admin' %}
                <div class="flex gap-2">
                    <a href="{{url_for('dogs.edit_dog', dog_id=dog.pk)}}" class="underline">Edit</a>
                    <a href="{{url_for('dogs.delete_dog', dog_id=dog.pk)}}" class="underline ">Delete</a>
                </div>
            {% else %}
                <p>Human: <a href="{{url_for('users.profile', username=dog.owner.username)}}" class="text-sm uppercase text-secondary-500 hover:underline focus:text-secondary-600">{{dog.owner.username}}</a></p>
            {% endif %}
        </div>
    </div>
    <div class="flex pb-1">
        <a href="{{url_for('dogs.dog_page', dog_id=dog.pk)}}" class="self-end flex-1 text-center underline ">Full Size / Comments</a>
        <!-- Inclide heart and like buttons -->
        <div class="flex-1">{% include '_interactions.html' %}</div>
    </div>
</div>