<div class="grid w-full grid-cols-2 bg-white border-4 border-gray-300 border-dashed rounded-lg h-36">
    <div class="grid place-items-center">
        <img src="{{dog.img_url_thumb}}" alt="A picture of my dog {{dog.name}}" class="object-cover h-32 px-1 rounded-lg">
    </div>
    <div class="flex flex-col p-2 text-xs text-gray-600 justify-evenly">
        <p>Name: <span class="text-base text-gray-800 ">{{dog.name}}</span></p>
        {% if dog.owner == current_user %}
            <div class="flex gap-2">
                <a href="{{url_for('dogs.edit_dog', dog_id=dog.pk)}}" class="underline">Edit</a>
                <a href="{{url_for('dogs.delete_dog', dog_id=dog.pk)}}" class="underline ">Delete</a>
            </div>
        {% else %}
            Human: {{dog.owner.username}}
        {% endif %}
        <p>Breed: {{dog.breed.breed_name}}</p>
        {% include '_interactions.html' %}
        <a href="{{url_for('dogs.dog_page', dog_id=dog.pk)}}" class="underline">Full Size / Comments</a>
    </div>
</div>