{% extends 'base.html' %}
{% block content %}
    <!-- MAIN GALLERY PAGE -->
    <div class="bg-fixed bg-bottom bg-no-repeat bg-max-sm-contain {{'bg-dog5' if view == 'hot' else 'bg-dog2'}} mb-6">
        <div class="{{'bg-fade' if animate == 'on' else 'bg-no-fade'}} max-w-screen-lg mx-auto min-h-screen-less-nav ">
            <h1 class="title text-secondary-500 ">Gallery</h1>
            <div class="grid grid-cols-2 py-4 lg:py-2 place-items-center">
                <a href="{{url_for('main.gallery', view='hot', animate='on')}}"
                class="font-title {{'text-5xl text-primary-500 italic' if view == 'hot' else 'text-4xl text-secondary-500'}} hover:underline focus:italic">HOT</a>
                <a href="{{url_for('main.gallery', view='new', animate='on')}}"
                class="font-title {{'text-5xl text-primary-500 italic' if view == 'new' else 'text-4xl text-secondary-500'}} hover:underline focus:italic">NEW</a>
            </div>
            <p class="text-lg font-bold text-center lg:text-xl text-primary-500">
                {% if view == 'hot' %}
                    <i class="fas fa-fire"></i> <span class="text-gray-500">The hottest, most liked dogs</span> <i class="fas fa-fire"></i>
                {% elif view == 'new' %}
                    <i class="far fa-star"></i> <span class="text-gray-500">Check out the newest dogs</span> <i class="far fa-star"></i>
                {% endif %}
            </p>
            <div class="flex flex-col gap-y-6 px-4 py-4 {{'gallery-animate' if animate == 'on'}} lg:grid lg:grid-cols-2 lg:max-w-4xl lg:mx-auto">
                {% for dog in dogs.items %}
                    {% include '_dog_card.html' %}
                {% endfor %}
            </div>
            <div class="flex flex-col gap-4">
                {# Macro for creating navigation links #}
                    <!-- source: https://github.com/MongoEngine/flask-mongoengine/blob/master/flask_mongoengine/pagination.py -->
                    {% macro render_navigation(pagination, endpoint) %}
                    {% include '_pagination.html' %}
                    {% endmacro %}
                    {{ render_navigation(dogs, 'main.gallery') }}
                    <div class="grid w-full max-w-sm py-6 mx-auto dash-border place-items-center {{'fade-in-slow' if animate == 'on'}}">
                        <a href="{{url_for('dogs.upload_dog')}}" class="px-2 btn btn-primary">Upload a new dog!</a>
                    </div>
            </div>
        </div>
    </div>

{% endblock %}
