{% extends 'base.html' %}

{% block content %}
    <!-- USER PROFILE -->
    <div class="container mx-auto shadow-lg">
        <!-- DETAILS (avatar, username, edit buttons if current user) -->
        <div class="flex items-center py-4 justify-evenly">
            <img src="{{user.img_url}}" alt="" class="w-32 ">
            <div class="flex flex-col justify-between h-24">
                <h1 class="text-4xl text-center uppercase font-title text-secondary-500 "> {{user.username}} </h1>
                 {% if user.username == current_user.username %}
                 <div class="flex gap-2">
                    <a href=" {{url_for('users.select_avatar')}} " class="btn-small">Edit Avatar</a>
                    <a href=" {{url_for('users.edit_profile')}} " class="btn-small">Edit Account</a>
                </div>
                 {% endif %}
            </div>
        </div>
        <!-- USER UPLOADS -->
        <div class="">
            <h1 class="py-2 text-5xl text-center font-title text-secondary-500"> My Dogs </h1>
            <div class="flex flex-col gap-4 p-2">
                {% if user_dogs|length %}
                    {% for dog in user_dogs %}
                        {% include '_dog_card.html' %}
                    {% endfor %}
                {% else %}
                    <p>No dogs uploaded yet!</p>
                {% endif %}
                {% if user.username == current_user.username %}
                    <a href=" {{url_for('dogs.upload_dog')}} " class="w-40 py-1 mx-auto text-base btn btn-primary ">Upload dog</a>
                {% endif %}
            </div>
        </div>
        <!-- USER FAVOURITES -->
        <div class="">
            <h1 class="py-2 text-5xl text-center font-title text-secondary-500"> My Favourites </h1>
            <div class="flex flex-col gap-4 p-2">
                {% if favourites|length %}
                    {% for dog in favourites %}
                        {% include '_dog_card.html' %}
                    {% endfor %}
                {% else %}
                    <p>No favourite dogs saved yet!</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}