{% extends 'base.html' %}
{% block content %}
    <!-- RESITER ACCOUNT FORM PAGE -->
    <h1 class="title text-secondary-500 ">Register</h1>
    <div class="container flex flex-col items-center mx-auto">
        <form action="" method="POST" class="flex flex-col p-4 border border-gray-100 rounded-lg shadow-lg w-80" novalidate>
                {{ form.hidden_tag()}}
                <fieldset class="pb-2 ">
                    {{form.username.label}}
                    {{form.username(class_='mb-3 w-full py-3 px-4 border border-gray-400 focus:outline-none rounded-md focus:ring-1 ')}}
                    {% for error in form.username.errors %}
                        <span class="text-red-500"> {{error}} </span>
                    {% endfor %}
                </fieldset>
                <fieldset class="pb-2 ">
                    {{form.email.label}}
                    {{form.email(class_='mb-3 w-full py-3 px-4 border border-gray-400 focus:outline-none rounded-md focus:ring-1 ')}}
                    {% for error in form.email.errors %}
                        <span class="text-red-500"> {{error}} </span>
                    {% endfor %}
                </fieldset>
                <fieldset class="pb-2 ">
                    {{form.password.label}}
                    {{form.password(class_='mb-3 w-full py-3 px-4 border border-gray-400 focus:outline-none rounded-md focus:ring-1 ')}}
                    {% for error in form.password.errors %}
                        <span class="text-red-500 "> {{error}} </span>
                    {% endfor %}
                </fieldset>
                <fieldset class="pb-2 ">
                    {{form.password2.label}}
                    {{form.password2(class_='mb-3 w-full py-3 px-4 border border-gray-400 focus:outline-none rounded-md focus:ring-1 ')}}
                    {% for error in form.password2.errors %}
                        <span class="text-red-500 "> {{error}} </span>
                    {% endfor %}
                </fieldset>
                <fieldset class="pb-2 ">
                    {{form.submit(class_='w-full btn btn-secondary')}}
                </fieldset>
        </form>
        <div class="flex flex-col items-center gap-4 mt-10 text-xl font-bold text-center">
            <p class="text-gray-500 ">Already a member?</p>
            <a href="{{url_for('users.login')}}" class="w-40 btn btn-primary">Log In</a>
        </div>
    </div>
{% endblock %}