{% extends 'base.html' %}
<!--  Confirm Page for deleting a user's account -->
{% block content %}
    <div class="bg-bottom bg-no-repeat bg-contain min-h-screen-less-nav bg-dog7 lg:bg-50% lg:bg-right-bottom">
        <div class="flex flex-col gap-3 py-4 text-center">
            <h2 class="text-3xl text-primary-500 font-title">Are you <strong>sure</strong> you want to delete your account?</h2>
            <h3 class="text-2xl font-semibold text-gray-600">This can't be undone!</h3>
        </div>
        <form action="{{url_for('users.delete_account', user_id=user.id)}}" method="POST" class="flex flex-col p-4 mx-auto bg-white border border-gray-100 rounded-lg shadow-md w-80" novalidate>
                {{ form.hidden_tag()}}
                <fieldset class="pb-2">
                    {{form.password.label}}
                    {{form.password(class_='mb-3 w-full py-3 px-4 border border-gray-400 focus:outline-none rounded-md focus:ring-1 ')}}
                    {% for error in form.password.errors %}
                        <span class="text-red-500"> {{error}} </span>
                    {% endfor %}
                </fieldset>
                <fieldset class="pb-2">
                    {{form.submit(class_='w-full btn btn-secondary')}}
                </fieldset>
        </form>
    </div>
{% endblock content %}