{% extends 'base.html' %}
{% block content %}
    <!-- NEW PASSWORD ENTRY FORM -->
    <div class="container flex flex-col items-center mx-auto bg-fixed bg-bottom bg-no-repeat bg-contain min-h-screen-less-nav bg-dog6 lg:bg-40%">
        <h1 class="py-4 text-4xl text-center font-title text-secondary-500 lg:text-5xl ">Reset Password</h1>
        <form action="{{ url_for('users.reset_password', token=token) }}" method="POST" class="flex flex-col p-4 bg-white border border-gray-100 rounded-lg shadow-md w-80" novalidate>
                {{ form.hidden_tag()}}
                <fieldset class="pb-2">
                    {{form.password.label}}
                    {{form.password(class_='mb-3 w-full py-3 px-4 border border-gray-400 focus:outline-none rounded-md focus:ring-1 ')}}
                    {% for error in form.password.errors %}
                        <span class="text-red-500"> {{error}} </span>
                    {% endfor %}
                </fieldset>
                <fieldset class="pb-2">
                    {{form.password2.label}}
                    {{form.password2(class_='mb-3 w-full py-3 px-4 border border-gray-400 focus:outline-none rounded-md focus:ring-1 ')}}
                    {% for error in form.password2.errors %}
                        <span class="text-red-500"> {{error}} </span>
                    {% endfor %}
                </fieldset>
                <fieldset class="pb-2">
                    {{form.submit(class_='w-full btn btn-secondary')}}
                </fieldset>
        </form>
    </div>


{% endblock %}