{% extends 'base.html' %}

{% block content %}

<h1 class="mb-10 text-5xl">Home</h1>

  <ul class="ml-10">
    <li class="list-disc"><a href="{{ url_for('gallery') }}">Gallery</a></li>
    <li class="list-disc"><a href="{{ url_for('login') }}">Login</a></li>
    <li class="list-disc"><a href="{{ url_for('logout') }}">Logout</a></li>
    <li class="list-disc"><a href="{{ url_for('register') }}">Register</a></li>
    <li class="list-disc"><a href="{{ url_for('select_avatar') }}">Select Avatar</a></li>
  </ul>
{% endblock %}