{% extends 'base.html' %}

{% block content %}
    <div class="container mx-auto mt-20 border border-gray-300 shadow-lg">
        <div class="flex items-center border-b-2 border-gray-300 ">
            <img src="{{user.img_url}}" alt="" class="border border-gray-300 rounded-full shadow-lg w-52">
            <div class="flex flex-col ">
                <h1 class=""> {{user.username}} </h1>
                <div class="flex gap-5">
                    <a href=" {{url_for('select_avatar')}} " class=" hover:text-red-500">Edit Avatar</a>
                    <a href="">Edit Account</a>
                </div>
            </div>
        </div>
        <div class="flex items-center border-b-2 border-gray-300 ">
            <h1 class=""> Uploads </h1>
        </div>
        <div class="flex items-center border-b-2 border-gray-300 ">
            <h1 class=""> Favourites </h1>
        </div>
    </div>

{% endblock content %}